.sidebar{
    background-color:#61dafb;;
    width: 250px;
    height: 95vh;
    transition: 850ms;
    border-radius: 3px;
    position: fixed;
    /* top: 3; */
    padding: 16px;
    line-height: 50px;
}

.title{
font-size: 20px;
color: white;
border-radius: 20px;
width: 150px;

display: flex;
justify-content: center;
align-items: center;
/* line-height: 100px; */
}

.title:hover{
    background-color:  #FFD800;
}
.upperDiv{
    width: 100vw;
    background-color: rgba(0, 0, 255, 0.5);
    height: 150px;
    margin-top: 0;
    justify-content: space-between;
    padding:20px 0;
}

.csinbox{
text-align: left;
}

