.sidebar {
  background-color: rgb(97, 218, 251);
  width: 250px;
  height: 95vh;
  border-radius: 3px;
  position: fixed;
  top: 190px;
  padding: 16px;
  line-height: 40px;
}

.title {
  font-size: 20px;
  color: white;
  border-radius: 20px;
  width: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  /* line-height: 100px; */
}

.title:hover {
  background-color: #ffd800;
}
.upperDiv {
  width: 100vw;
  background-color: rgba(0, 0, 255, 0.5);
  height: 150px;
  margin-top: 0;
  position: fixed;
  justify-content: space-between;
  padding: 20px 0;
}

.csinbox {
  text-align: left;
}

.spaceForNewMessage {
  background-color: rgba(234, 240, 41, 0.3);
  height: 95vh;
  width: 300px;
  position: absolute;
  border-radius: 5px;
}

#newMessage {
  left: 280px;
  position: fixed;
  top: 190px;
}
