.App {
  text-align: center;
}

.logo{
  font-size: 48px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:#FFD800;
  text-align: center;
  margin-top: 0;
}
@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
